/* ==========================
   GAMES SECTION
========================== */

.games{

    width:min(1200px,90%);
    margin:auto;
    padding:120px 0;

}


/* ==========================
   GAMES GRID
========================== */

.games-grid{

    display:grid;

    grid-template-columns:repeat(
        auto-fit,
        minmax(280px,1fr)
    );

    gap:28px;

}


/* ==========================
   GAME CARD
========================== */

.game-card{

    min-height:280px;

    padding:32px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    text-decoration:none;

    color:white;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    transition:.35s;

}


/* ==========================
   SAME GLOW AS TIMELINE
========================== */

.game-card:hover{

    transform:translateY(-8px);

    border-color:#b96dff;

    box-shadow:0 15px 35px rgba(185,109,255,.25);

}


/* ==========================
   CARD CONTENT
========================== */

.game-card span{

    color:#d8b4fe;

    font-size:.9rem;

    letter-spacing:2px;

    font-weight:700;

}

.game-card h3{

    font-size:1.8rem;

    margin:24px 0 16px;

    color:white;

}

.game-card p{

    color:rgba(255,255,255,.75);

    line-height:1.8;

}

.game-status{

    margin-top:28px;

    color:#d8b4fe;

    font-weight:700;

}


/* ==========================
   COUNTER
========================== */

.games-counter{

    margin-top:55px;

    text-align:center;

    color:#d8b4fe;

    font-size:.95rem;

    letter-spacing:.5px;

}


/* ==========================
   MOBILE
========================== */

@media(max-width:768px){

    .games{

        width:92%;

        padding:80px 0;

    }

    .games-grid{

        grid-template-columns:1fr;

    }

}