.hero{

    width:min(1200px,90%);

    margin:auto;

    min-height:100vh;

    display:grid;

    grid-template-columns:1fr 500px;

    align-items:center;

    gap:80px;

}

.hero-small{

    color:var(--primary-light);

    font-size:.9rem;

    letter-spacing:5px;

    margin-bottom:25px;

    text-transform:uppercase;

}

.hero h1{

    font-family:'Space Grotesk',sans-serif;

    font-size:5.5rem;

    line-height:1;

    color:white;

    margin-bottom:35px;

}

.hero-description{

    max-width:520px;

    line-height:1.9;

    font-size:1.1rem;

    color:rgba(255,255,255,.82);

}

.hero-button{

    display:inline-block;

    margin-top:45px;

    padding:18px 42px;

    border-radius:50px;

    background:linear-gradient(
        90deg,
        var(--primary),
        #8e5dff
    );

    color:white;

    font-weight:600;

    transition:.35s;

    box-shadow:0 15px 35px rgba(124,77,255,.35);

}

.hero-button:hover{

    transform:translateY(-5px);

    box-shadow:0 25px 45px rgba(124,77,255,.45);

}

.hero-image{

    display:flex;

    justify-content:center;

}

.hero-image img{

    width:100%;

    border-radius:30px;

    box-shadow:

    0 0 80px rgba(124,77,255,.18);

}