.hero{

display:flex;

justify-content:space-between;

align-items:center;

gap:60px;

}

.hero-text{

flex:1;

}

.hero-text h1{

font-size:72px;

color:var(--primary-light);

margin-bottom:25px;

}

.hero-text p{

font-size:22px;

line-height:1.8;

margin-bottom:40px;

color:var(--text-secondary);

}

.hero-image{

flex:1;

text-align:center;

}

.hero-image img{

width:100%;

max-width:450px;

border-radius:25px;

box-shadow:0 0 60px rgba(109,60,207,.4);

}