/* ==========================================
   NAVIGATION
========================================== */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    background:rgba(12,8,22,.82);
    backdrop-filter:blur(18px);
    border-bottom:1px solid rgba(255,255,255,.06);
}

.navbar{
    width:min(1200px,92%);
    height:82px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* LOGO */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-family:'Space Grotesk',sans-serif;
    font-size:1.7rem;
    font-weight:700;
    color:#ffffff;
    white-space:nowrap;
}

/* LINKS */

.nav-links{
    display:flex;
    align-items:center;
    gap:48px;
    list-style:none;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    position:relative;
    display:inline-block;
    padding:10px 0;
    color:#f2f2f2;
    font-size:1rem;
    font-weight:600;
    text-decoration:none;
    transition:.3s;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-4px;
    width:0;
    height:3px;
    background:#b57cff;
    border-radius:50px;
    transform:translateX(-50%);
    transition:.3s ease;
}

.nav-links a:hover,
.nav-links a.active{
    color:#c084fc;
}

.nav-links a:hover::after,
.nav-links a.active::after{
    width:100%;
}

/* HAMBURGER - HIDDEN ON DESKTOP */

.menu-toggle{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:1.8rem;
    cursor:pointer;
}

/* MOBILE ONLY */

@media(max-width:768px){

    .navbar{
        width:94%;
        height:76px;
        justify-content:space-between;
    }

    .logo{
        font-size:1.2rem;
    }

    .menu-toggle{
        display:block;
    }

    .nav-links{
        position:absolute;
        top:76px;
        left:0;
        width:100%;

        display:none;
        flex-direction:column;
        align-items:center;
        gap:24px;

        padding:35px 0;
        background:rgba(12,8,22,.96);
        backdrop-filter:blur(18px);
        border-bottom:1px solid rgba(255,255,255,.08);
    }

    .nav-links.show{
        display:flex;
    }

    .nav-links a{
        font-size:1rem;
    }
}