header{

    position:fixed;

    width:100%;

    top:0;

    left:0;

    z-index:999;

    backdrop-filter:blur(18px);

    background:rgba(15,9,24,.75);

    border-bottom:1px solid var(--border);

}

nav{

    width:90%;

    margin:auto;

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    font-size:28px;

    font-weight:700;

    color:var(--primary-light);

}

nav ul{

    display:flex;

    gap:35px;

}

nav a{

    color:white;

    font-weight:500;

    transition:.3s;

}

nav a:hover{

    color:var(--primary-light);

}