body{

    background:#20163a;

    color:white;

    font-family:'Poppins',sans-serif;

}

html,
body{
    overflow-x:hidden;
}

html{
    scroll-behavior:smooth;
}
section{
    scroll-margin-top:90px;
}