/* RESET */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--bg-main);

    color:var(--text);

    font-family:'Poppins',sans-serif;

    overflow-x:hidden;

    line-height:1.7;

}

/* GLOBAL */

img{

    max-width:100%;
    display:block;

}

a{

    text-decoration:none;
    color:inherit;

}

button{

    border:none;
    cursor:pointer;
    font-family:'Poppins',sans-serif;

}

section{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:120px 8%;

}

/* HEADINGS */

h1{

    font-family:'Space Grotesk',sans-serif;

}

h2{

    font-size:3rem;

    text-align:center;

    color:var(--primary-light);

    font-family:'Space Grotesk',sans-serif;

}

/* PARAGRAPHS */

p{

    color:var(--text-light);

}

/* BUTTON */

button{

    margin-top:35px;

    background:linear-gradient(
        135deg,
        var(--primary),
        var(--primary-dark)
    );

    color:white;

    padding:16px 38px;

    border-radius:999px;

    font-size:17px;

    transition:.35s;

    box-shadow:var(--shadow);

}

button:hover{

    transform:translateY(-5px);

}

/* SECTIONS */

#about,
#timeline,
#discography,
#achievements,
#gallery,
#games{

    background:var(--bg-secondary);

    border-top:1px solid var(--border);

}

/* Footer */

footer{

    padding:35px;

    text-align:center;

    background:#050308;

    color:var(--text-light);

    border-top:1px solid var(--border);

}