.timeline{

    width:min(900px,90%);
    margin:0 auto;
    position:relative;
    padding:120px 0;

}

.timeline-container{

    position:relative;
    margin-top:70px;

}

.timeline-container::before{

    content:"";

    position:absolute;

    left:40px;

    top:0;

    width:4px;

    height:100%;

    background:linear-gradient(
        to bottom,
        #b96dff,
        #6d28d9
    );

    border-radius:100px;

}

.timeline-item{

    position:relative;

    padding-left:90px;

    margin-bottom:70px;

}

.timeline-dot{

    position:absolute;

    left:28px;

    top:12px;

    width:24px;

    height:24px;

    background:#c084fc;

    border-radius:50%;

    border:4px solid #2d1b4e;

    box-shadow:0 0 18px #b96dff;

}

.timeline-year{

    color:#d8b4fe;

    font-size:.9rem;

    letter-spacing:2px;

    margin-bottom:12px;

}

.timeline-card{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:28px;

    transition:.35s;

}

.timeline-card:hover{

    transform:translateY(-8px);

    border-color:#b96dff;

    box-shadow:0 15px 35px rgba(185,109,255,.25);

}

.timeline-card h3{

    margin-bottom:12px;

    color:white;

}

.timeline-card p{

    color:#d1d5db;

    line-height:1.8;

}